* {
  margin: 0;
  padding: 0;
}

footer {
  display: grid;
  grid-template-columns: 250px 50px 50px 50px;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  padding: 15px;
}

ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  list-style: none;
  background-color: black;
  margin-bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  ul {
    top: 0;
    position: absolute;
    background-color: black;
    flex-direction: column;
    height: 300px;
    width: 50vw;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 50px;
    padding-right: 10px;
    top: -500px;
    border-radius: 5px;
    transition: 0.5s;
  }
  ul:hover {
    top: 0px;
  }
}
@media (max-width: 400px) {
  ul {
    flex-wrap: nowrap;
    height: 200px;
    width: 50vw;
    padding-top: 35px;
    padding-right: 10px;
  }
}
ul li a {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}
ul li a:hover {
  color: rgba(255, 0, 0, 0.603);
}

.bars {
  display: none;
}
.bars:hover + ul {
  top: 0px;
}
@media (max-width: 768px) {
  .bars {
    display: block;
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 30px;
  }
}

.menu {
  display: flex;
  background-color: black;
  align-items: center;
}
.menu img {
  border-radius: 50%;
  margin: 10px 20px;
}
@media (max-width: 768px) {
  .menu img {
    display: none;
  }
}

.titulo-principal {
  color: #ffffff;
  background-image: url(../multimedia/fondo.jpg);
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000;
}

.titulo-secundario {
  text-align: center;
  padding: 15px;
}

.titulo-terceario {
  text-align: center;
  padding: 10px;
}

.titulo-form {
  text-align: center;
  padding: 10px;
}

.titulo-ubic {
  text-align: center;
  padding: 10px;
}

.titulo-ubic2 {
  text-align: center;
  padding: 15px;
}

.cuadros-texto {
  padding: 10px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "parrafo-1  imagen-1" "imagen-2  parrafo-2" "parrafo-3  imagen-3";
}
.cuadros-texto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .cuadros-texto {
    display: flex;
    flex-direction: column;
  }
}

.parrafo-1 {
  grid-area: parrafo-1;
  padding: 30px;
}

.imagen-1 {
  grid-area: imagen-1;
}

.parrafo-2 {
  grid-area: parrafo-2;
  padding: 20px;
}

.imagen-2 {
  grid-area: imagen-2;
}

.parrafo-3 {
  grid-area: parrafo-3;
  padding-top: 20px;
}

.imagen-3 {
  grid-area: imagen-3;
}

@media (max-width: 500px) {
  footer {
    grid-template-columns: 50px 50px 50px;
  }
}

.texto-footer {
  margin: 0px;
  color: black;
  font-size: 14px;
  padding-top: 5px;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .texto-footer {
    display: none;
  }
}

.formulario {
  width: 450px;
  height: 350px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4039215686);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30px 30px 150px;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-areas: "... ..." "... ..." "... ..." "... btn";
}
@media (max-width: 768px) {
  .formulario {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}
.formulario input {
  background-color: #ffffff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .formulario input {
    border: none;
  }
}
.formulario label {
  height: 15px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .formulario label {
    height: 15px;
    width: 400px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .formulario label {
    height: 15px;
    width: 250px;
    display: flex;
    justify-content: center;
  }
}
.formulario button {
  grid-area: btn;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .formulario button {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .box-mensaje {
    height: 80px;
  }
}

.carousel-item {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .carousel-item {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.pcentro {
  display: grid;
  grid-template-columns: 768px;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 16px;
}
@media (max-width: 800px) {
  .pcentro {
    grid-template-columns: 400px;
  }
}
@media (max-width: 430px) {
  .pcentro {
    grid-template-columns: 250px;
    color: black;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
