.cuadros-texto {  
    padding: 10px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "parrafo-1  imagen-1"
      "imagen-2  parrafo-2"
      "parrafo-3  imagen-3";
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;}
    @media(max-width:768px){
        display: flex;
        flex-direction: column;}
    p{
        margin:0px;
    }
}

.parrafo-1 { grid-area: parrafo-1;}

.imagen-1 { grid-area: imagen-1;}

.parrafo-2 { grid-area: parrafo-2; }  
    
.imagen-2 { grid-area: imagen-2; }

.parrafo-3 { grid-area: parrafo-3;}
  
.imagen-3 { grid-area: imagen-3; }
