.formulario {
  width: 450px;
  height: 350px;
  margin: 20px auto;
  box-sizing: border-box;
  padding:30px;
  border-radius: 10px;
  background-color: #00000067;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30px 30px 150px;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-areas: 
  "... ..."
  "... ..."
  "... ..."
  "... btn";
  @media(max-width:768px){
      display: flex;
      flex-direction: column;
  }
  @media(max-width:500px){
      display: flex;
      flex-direction: column;
      width: 300px;
  }

  input{
      background-color: #ffffff;
      border-radius: 5px;
      @media(max-width:768px){
        border: none;
      }
  }
  label{
    height: 15px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    @media(max-width:768px){
      height: 15px;
      width: 400px;
      display: flex;
      justify-content: center;
    }
    @media(max-width:500px){
      height: 15px;
      width: 250px;
      display: flex;
      justify-content: center;
    }      
  }
  button{
    grid-area: btn;
    border-radius: 10px;
    @media(max-width:768px){
      height: 40px;
    }

  }
}
  

.box-mensaje{
  @media(max-width:768px){
    height: 80px;
  }
}