ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    list-style: none;
    background-color: $bg-nav;
    margin-bottom: 0;
    width: 100%;
    @media (max-width:768px){
        top: 0;
        position:absolute;
        background-color: black;
        flex-direction: column;
        height: 300px;
        width: 50vw;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding-top: 50px ;
        padding-right: 10px;
        top: -500px;
        border-radius: 5px;
        transition: 0.5s;
        &:hover{
            top: 0px;
        }
    }
    @media (max-width:400px){
        flex-wrap: nowrap;
        height: 200px;
        width: 50vw;
        padding-top: 35px ;
        padding-right: 10px;
    }
    li a {
        color: #a1a1a1;
        text-decoration: none;
        font-size: 20px;
        padding: 15px;
        &:hover{
        color:rgba(255, 0, 0, 0.603);}
        }
}

.bars{
    display:none;
    &:hover + ul{
        top: 0px;
    }

    @media (max-width:768px){
        display: block;
        background-color: black;
        color: white;
        text-align:left;
        padding: 10px;
        font-size: 30px;}
}